<html>

<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

</head>

<body>
    <div id="wrapper">
        <header>
            <img src="/images/favicon.png" alt="">
            <h1>fire cms</h1>
        </header>

        <div>
            <h2>kohei!</h2>
        </div>
        <a href="/signin">signin</a>
        <button id="signout">sign out</button>
        <h1>home</h1>
        <ul>
            <li>unique</li>
            <li>undefined</li>
            <li>undefined</li>
        </ul>
        <p>undefined</p>
        <p>undefined</p>
        <ul>

        </ul>
        <footer>
            <hr> &copy; fire cms
        </footer>
    </div>
</body>

</html>